MONGO_ID=
PASS=
URL=
REDIS_URL=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
PORT=3000
NODE_ENV=development
CORS_ORIGINS=http://localhost:5173

EMAIL_USER=
EMAIL_PASS=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587

GOVT_ADMIN_NAME=
GOVT_ADMIN_EMAIL=
GOVT_ADMIN_PASSWORD=
GOVT_ADMIN_MOBILE=

# Cloudinary Storage Provider Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=
STORAGE_PROVIDER=cloudinary
